body{
	background-image: url("images/background1.jpg");
	background-repeat; no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

header{
	background-color: lightblue;
	text-align: center;
	margin: 10px;
	padding: 5px;
	opacity: 0.5;
}

nav ul li{
	display: inline;
	margin: 5px;
}